/*Custom Properties*/
:root {
  --first-color: #f7df1e;
  --second-color: #222;
  --main-font: "Raleway", sans-serif;
  --font-size: 16px;
  --max-width: 1400px;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
}

/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}
/*Components = Menus , botones , keyframes, etc*/

/*Utilities*/
.none {
  display: none;
}

/*Style Website*/
.header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--first-color);
  color: var(--second-color);
  z-index: 2;
}

.header h1 {
  margin: 0 auto;
  text-align: center;
}

.section {
  padding-top: 4rem;
  text-align: center;
  min-height: 100vh;
}

.section > h3 {
  font-size: 2.12rem;
  text-align: center;
}

/*MENU HAMBURGUER*/
.hamburguer {
  display: block;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-color: var(--first-color);
  border-radius: 50%;
  padding: 0.8rem;
  border: none;
  outline: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 2;
}

.hamburguer .bar,
.hamburguer::before,
.hamburguer::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  margin: 5px 0;
  transition: 0.5s ease-in;
}

.hamburguer .bar {
  width: 60%;
}

.hamburguer::after {
  width: 85%;
}

.hamburguer.is-active::before {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburguer.is-active::after {
  transform: rotate(45deg) translate(-6px, -7px);
  width: 100%;
}

.hamburguer.is-active > .bar {
  opacity: 0;
  width: 100%;
}

/*MENU COLLAPSED*/
.panel-menu {
  position: fixed;
  width: 100%;
  top: 48px;
  bottom: 0;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.panel-menu.is-active {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.menu {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.menu > .menu__link {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 2.5rem;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  background-color: var(--second-modal-color);
  color: var(--main-modal-color);
  transition: all 0.3s ease-in-out;
}

.menu > .menu__link:hover {
  color: var(--second-color);
  background-color: var(--first-color);
}

/*RELOJ DIGITAL*/
.btn-watch {
  padding-bottom: 3rem;
}

.btn {
  padding: 1rem;
  font-size: var(--font-size);
  font-weight: bold;
  margin: 1rem 0.6rem;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 4px 4px 6px black;
  cursor: pointer;
  background-color: var(--first-color);
  color: var(--second-color);
}

.watch-date {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  font-size: 2rem;
  letter-spacing: 3px;
}

/*KEYWORDS*/
.container-ball {
  display: flex;
  border: 4px solid var(--first-color);
  min-height: 50vh;
  margin: 0 50px;
  background-color: var(--second-modal-color);
}

.ball {
  margin: auto;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--first-color);
}

/*COUNTDOWN*/
.countdown {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--first-color);
  padding: 1.6rem;
  width: max-content;
  margin: 0 auto;
  color: var(--second-color);
}

/*MOVE UP*/
.moveToUp {
  position: fixed;
  right: 130px;
  bottom: 50px;
  background-color: var(--first-color);
  color: var(--second-color);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in;
}

.moveToUp:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.moveToUp.is-active {
  opacity: 1;
  visibility: visible;
}

/*MOOD - DARK -WHITE*/
.dark-theme {
  position: fixed;
  bottom: 50px;
  left: 50px;
  background-color: var(--first-color);
  color: var(--second-color);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.dark-theme:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.dark-theme > .fas,
.dark-theme > .far {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.6rem;
}

.dark-theme > .hidden {
  opacity: 0;
  visibility: hidden;
}

[data-dark] {
  transition: all 0.1s ease-in;
}

.dark-mode {
  background-color: var(--second-color);
  color: var(--first-color);
}

/*CONEXION DE RED*/
.connection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: var(--main-font);
  line-height: 70px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in;
}

.connection.online,
.connection.offline {
  opacity: 1;
  visibility: visible;
}

.connection.online {
  background-color: green;
  color: var(--first-color);
}

.connection.offline {
  color: var(--second-color);
  background-color: red;
}

/*CARD-CONTENIDO*/
[type="search"] {
  padding: 0.4rem;
  font: bold 1rem var(--main-font);
  margin-bottom: 1.2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 0.5rem 0.5rem;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card > .card-body {
  background-color: var(--second-color);
  color: var(--first-color);
  font-size: 1.1rem;
  font-weight: bold;
}

.card.hidden {
  opacity: 0;
  visibility: hidden;
  order: 1;
}

/*SLIDER*/
.slider-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slider {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  transition: all 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slide {
  width: 100%;
  height: 50vh;
}

.slide img,
.slide p {
  width: inherit;
  height: inherit;
  text-align: center;
}

.slide img {
  object-fit: cover;
  object-position: center center;
}

.left,
.right {
  font-size: 3.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  color: var(--first-color);
  background-color: var(--second-color);
  outline: none;
  border: 2px solid var(--second-color);
  cursor: pointer;
}

.left {
  left: 25px;
}

.right {
  right: 25px;
}

/*MEDIA QUERIE - 1024px*/
@media screen and (min-width: 1024px) {
  /*menu responsive*/
  .hamburguer {
    display: none;
  }

  .panel-menu {
    position: fixed;
    top: 48px;
    width: 350px;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    right: 0;
  }

  .menu > .menu__link {
    font-size: 1rem;
    padding: 1.4rem;
    background-color: var(--second-color);
    color: var(--first-color);
  }

  .wrapper {
    width: calc(100% - 350px);
  }

  /*Move To Up*/
  .moveToUp {
    left: 130px;
  }
}
